$color: red;
$bg_color: grey;
$bg_c_hov: lightgrey;

body {
    font-size: large;
}

h1 {
    color: $color;
}

p {
    color: $color;
    font-style: italic;
}
 
div:hover {
    background-color: $bg_c_hov;
}

#div {
    p {
       color: $color; 
    }
    
    ul {
        color: blue;
    }
}